body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

code { font-weight: bold; }

.menu {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

